*{
    list-style-type: none;
}
.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
    
}

.footer_inner_container {
    width: 60%;
    
}

.footer_icons {
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
}

.footer_data {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; 
    
}

.footer_data > div {
    margin-right: 20px; 
    
}

.footer_data:last-child {
    margin-right: 0; 
}

.first_column {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    list-style-type: none;
}

.first_column ul {
    list-style: none;
    margin-bottom: 10px; 
   
}

.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 100%; 
    margin: 10px 0;
    cursor: pointer;
}

.copy_write {
    font-size: 12px;
    margin-top: 0; 
    text-align: center; 
}